body {
  margin: 0;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

.highlight {
  background-color: #b2c725 !important;
}

nav {
  overflow: hidden;
  background-color: #ccde50;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

nav a:hover, .dropdown:hover .dropdownbutton {
  background-color: #b2c725;
  color: black;
}

.dropdowncontent a:hover {
  background-color: #b2c725;
  color: black;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdownbutton {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 19.5px;
  background-color: #ccde50;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
  margin: 0;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #ccde50;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
  nav a:not(:first-child) {display: none;}
  .dropdownbutton {display:none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav.responsive {
    position: relative;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav.responsive .dropdown {
    float: none;
  }

  .nav.responsive .dropdowncontent {
    position: relative;
  }

  .nav.responsive .dropdown .dropdownbutton {
    display: block;
    width: 100%;
    text-align: left;
  }

}

footer {
  background-color: #ccde50;
  color: black;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  width: 100%;
  margin-bottom: -25px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}


.teamBioBox {
  background-color: #ccde50;
  width: 60%;
  margin: 15px 15px 15px 18%;
  height: min-content;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.greybox {
  background-color: #f2f2f2;
  width: 60%;
  height: min-content;
  display: block;
  padding: 15px 7.5%;
  margin: 20px 12.25% 50px;
}

@media screen and (max-width: 700px) {
  .greybox{
    font-size: 5vw
  }
}


#sm11, #sm12, #sm13, #sm14, #sm15, #sm16, #sm17, #sm21, #sm22, #sm23, #sm24, #sm25, #sm26, #sm27, #sm28, #sm29, #sm31, #sm32, #sm33, #sm41, #sm42, #sm43, #sm44, #sm45 {
  display: none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 33.4%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .row{
    flex-wrap: wrap;
  }
  .column {
    flex: 50%;
    font-size: 3vw;
  }
}

.teamcolumn {
  flex: 50%;
}
.team_img {
  width: 224px;
}
@media screen and (max-width: 1020px) {
  .row{
    flex-wrap: wrap;
  }
  .teamcolumn {
    flex: 100%;
    font-size: 3vw;
  }
}

@media screen and (max-width: 700px) {
  .team_img {
    width: 30vw;
  }
}

footer a {
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
  color: black;
}

h2 {
  text-align: center;
}

#headerImage {
  width: 100%;
  object-fit: cover;
  height: 350px;
  object-position: 0 85%;
}

.container {
  background-color: #f2f2f2;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 4px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 20px;
  border: 4px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 20px;
  border: 4px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

select, textarea {
  width: 100%;
  padding: 20px;
  border: 4px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
  resize: none;
}

@media screen and (max-width: 700px) {
  input {
    font-size: 5vw;
  }
  button {
    font-size: 5vw;
  }
}

button {
  background-color: #ccde50;
  padding: 12px 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  cursor: pointer;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

button:hover {
  background-color: #b2c725;
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

label {
  font-family: myriad w01 smbd, Helvetica, Arial, sans-serif;
}

.figuresImage {
  display: block;
  margin: 10px auto;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .figuresImage {
    width: 60vw;
  }
}


#titletop {
  position: absolute;
  top: 60px;
  left: 16px;
  font-size: 18px;
  color: #ffffff;
  max-width: 50%;
}

#titlebottom {
  position: absolute;
  top: 325px;
  left: 16px;
  color: #ffffff;
}

.i {
  text-align: center;
}

.fa-angle-down, .fa-angle-up {
  font-size: 50px;
  background-color: #ccde50;
  padding: 0 10px;
  cursor: pointer;

}

.fa-angle-down:hover, .fa-angle-up:hover {
  background-color: #b2c725;
}

#signature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 700px) {
  #signature {
    width: 75%;
  }
}

.rowSignatures {
  display: flex;
  flex-wrap: nowrap;
}

.columnSignatures {
  flex: 50%;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .rowSignatures{
    flex-wrap: wrap;
  }
  .columnSignatures {
    flex: 100%;
    font-size: 3vw;
  }
}