.tab-pane {
    -fx-tab-min-width: 78px;
    -fx-tab-max-width: 78px;
    -fx-tab-min-height:70px;
    -fx-tab-max-height:70px;
    -fx-background-color: White;
}

.tab {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-background-color: White;
}

.tab:selected {
    -fx-background-color: rgb(0, 204, 102);
}

.button {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
}

.tab-pane *.tab-header-background{
    -fx-background-color: White;
}

AnchorPane {
    -fx-background-color: White;
}

.label {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-text-fill: Black;
}

.text-area {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-text-fill: Black;
}

.text-field {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-text-fill: Black;
}

.list-view {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-text-fill: Black;
}

.table-view {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16;
    -fx-text-fill: Black;
}